html{

}
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgba()); /*Adicionar cores depois rgba*/
}
.conteiner{
display: grid;
width: 100%;
height: 100%;
display: grid;
justify-content: center;
align-content: center;
justify-content: center;
align-items: center;
grid-template-columns: repeat(3, auto);

}
.bloco{
width: 100px;
height: 100px;
border: 2px solid black;
display: flex;
justify-content: center;
align-items: center;

}
.bloco.X,.bloco.bolinha{
cursor: not-allowed;
}
.bloco:nth-child(1),
.bloco:nth-child(2),
.bloco:nth-child(3) {
border-top: none;
}
.bloco:nth-child(1),
.bloco:nth-child(4),
.bloco:nth-child(7) {
border-left: none;
}
.bloco:nth-child(3),
.bloco:nth-child(6),
.bloco:nth-child(9) {
border-right: none;
}
.bloco:nth-child(7),
.bloco:nth-child(8),
.bloco:nth-child(9) {
border-bottom: none;
}
/* Imagem do Cachorrinho*/
.bloco.X {
    background-image: url(./img/cachorro.jpg);
    background-size: cover;

}
/* Imagem do Gatinho*/
.bloco.bolinha{
    background-image: url(./img/gatinho.jpg);
    background-size: cover;
}

.winermsg {
  display: none; /* ALTERAR DEPOIS QUANDO FOR USAR O JS */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
}
.winermsg button {
  font-size: 2.5rem;
  background-color: rgba(); /* mesma cor do fundo */
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  color: black;
}
.winermsg button:hover {
  color: rgba(0, 0, 0, 0.8); /* mudar pra outra cor depois */
  background-color: white;
}
.winermsg p {
  color: black;
  font-size: 5rem;
  font-family: Georgia;
}

.show-winning-message{
  display: flex;
}